/*  Base font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Base style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 1rem;
  margin-top: 2rem;
}
.heading {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}
.heading-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.section-title {
  font-size: 1.25rem;
  font-weight: bold;
  width: 200px;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.section-one,
.section-two,
.section-three {
  padding: 1rem;
  margin: 5px;
  background-color: lightgrey;
  border: 1px solid lightslategrey;
  position: relative;
}
.section-one .section-title {
  background-color: cornflowerblue;
}
.section-two .section-title {
  background-color: rgb(129, 167, 238);
}
.section-three .section-title {
  background-color: rgb(173, 196, 238);
}
