.main-header {
  display: flex;
}
.main-img {
  width: 36px;
}
.main-img img {
  width: 100%;
}
.content-wrapper {
  width: 30vw;
  margin-top: 1rem;
  border: 2px solid blue;
  padding: 1rem;
  box-shadow: 10px 5px 5px darkgray;
}
.content-wrapper ul {
  padding-left: 2rem;
}
.content-wrapper li {
  list-style: none;
}
.solution-link {
  margin-left: 1.8rem;
}
.content-wrapper a {
  text-decoration: none;
}
.content-wrapper a:hover {
  background-color: rgb(215, 226, 245);
}
